RewriteEngine On
RewriteBase /


RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://marmolhouse.by/$1 [R=301,L]


RewriteCond %{HTTP_HOST} ^www\.marmolhouse\.by [NC]
RewriteRule ^(.*)$ https://marmolhouse.by/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]